//
html, body {
    padding: 0; margin: 0;
    height: 100%;
}
a, a:hover, a:active {
    color: unset;
    text-decoration: unset;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

body {
    &.modal-show {
        overflow: hidden;
    }
}






//
.container-wrapper {
    margin: 0 auto;
    max-width: 1500px;

    .container {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    @media (min-width: 1024px) {
        .container {
            padding-left: calc(80px + 64px);
            padding-right: 64px;
        }
    }
    @media (max-width: 1024px) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.btn {
    padding: 9px 38px 9px 38px;
    border: unset;
    border-radius: 3px;
    width: max-content;
    font-size: 14px;
    cursor: pointer;
    &.primary {
        color: #FFFFFF;
        background-color: #028F91;
        &:focus {
            box-shadow: 0 0 4px #48ACAD;
        }
    }
    &.submit {
        color: #105A5B;
        background-color: #61D1A2;
        &:focus {
            box-shadow: 0 0 4px #89E8C0;
        }
    }
    &:disabled {
        background-color: #D2D2D2;
        color: #ffffff;
    }
}
