//
html, body {
    padding: 0; margin: 0;
    height: 100%;
}
a, a:hover, a:active {
    color: unset;
    text-decoration: unset;
}








//
.container {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1200px;


    h1, h2, h3, h4, h5, p, li, span, label {
        color: #105A5B;
    }





}
