//
html, body {
    padding: 0; margin: 0;
    height: 100%;
}
a, a:hover, a:active {
    color: unset;
    text-decoration: unset;
}








//
.container {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1200px;






}
